@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar classes */
.custom-scrollbar::-webkit-scrollbar { 
  height: 8px !important;
  width: 8px;
}

/* scrollbar's thumb classes */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff3b;
}
